# Serveur web asynchrone
fastapi
uvicorn
python-multipart

# Clients HTTP
httpx

# Traitement audio
numpy<2.0.0
librosa
soundfile
scipy
pyaudio

# STT/TTS
openai-whisper
piper-tts

# Deep Learning Framework
torch
torchvision
torchaudio

# Vectorisation/Embeddings
sentence-transformers
transformers

# Environnement
python-dotenv
loguru
PyJWT
pydantic